# parse_arp_template.j2

{% for line in arp_output.stdout_lines %}
    {% if line | regex_match('^(Internet|Protocol)') %}
        {% continue %}
    {% endif %}
    
    {% set arp_entry = line | regex_replace('\\s+', ' ') | regex_replace('^\\s|\\s$', '') | split(' ') %}
    
    {% if arp_entry | length == 3 %}
        IP: {{ arp_entry[0] }}, MAC: {{ arp_entry[1] }}, Interface: {{ arp_entry[2] }}
    {% endif %}
{% endfor %
